<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MyConfiguration" type="ConfigurationSection_Testable_and_Maintainable.MyConfiguration, ConfigurationSection_Testable_and_Maintainable"/>
  </configSections>
  
  <MyConfiguration Age="25" Name="Name" DayOfBirth="Monday" MyStrings="Value1,Value2, Value3" />
  
</configuration>